<!DOCTYPE html>
<html>
<head>
  <title>Library</title>
  <h3>Jimmy Kurian</h3>
  	

  <%= stylesheet_link_tag    "style" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>